*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --primery-color: #ffcd00;
  --shadow-light: rgb(60, 60, 60);
  --background-color--primary: #31353d;
  --background-color--copyright: #262a31;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  color: var(--background-color--primary);
}

header {
  text-align: left;
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0 1rem;
}

article {
  margin: 0;
  padding: 0;
}

.logo--primery {
  text-transform: uppercase;
  color: var(--primery-color);
  font-size: 1.4rem;
  font-size: 2rem;
  font-weight: bold;
}

.hero {
}

.hero-banner {
  width: 100%;
  height: 62vh;
  background-color: var(--background-color--primary);
}

.hero-banner > img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

/* headers */
.section-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* headings */
.section-heading {
  font-size: 3rem;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -2px;
  height: 100px;
  height: max-content;
  margin-bottom: 1rem;
}

.about-card_heading {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* sub headings */
.section-sub_heading {
  color: var(--primery-color);
  text-transform: capitalize;
  font-size: 1.2rem;
}

.hero-banner-sub_heading {
  color: white;
  font-size: 1.4rem;
  font-weight: normal;
}

.about-card_caption {
  font-size: 0.8rem;
  font-weight: 100;
  line-height: 1.4;
}

/*  */
.hero-banner_caption {
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* layout */
.logo-figure {
  display: flex;
}

/* btn */
.btn {
}

.btn--border {
  background-color: transparent;
  color: white;
  font-size: 1.4rem;
  margin-top: 2rem;
  border-color: var(--primery-color);
}

.btn--large {
  padding: 1rem 4rem;
}

/* section */
section {
  margin-bottom: 5rem;
}

.section-body {
  padding: 0 0.2rem;
  display: block;
  margin-top: 6.4rem;
  line-height: 1.4;
  font-size: 1rem;
  text-align: left;
  font-weight: 100;
}

#section-about_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  background: url("https://source.unsplash.com/random?wood");
  padding: 4rem 0;
  margin-bottom: 0;
}

#section-service {
  background-color: var(--background-color--primary);
  color: white;
  padding: 1rem 0.2rem;
}
.section-body > * {
  margin-bottom: 2rem;
}
#footer {
  background-color: var(--background-color--primary);
  padding: 2rem 1rem;
  color: white;
}
#who_we_are {
}

/* cards */
.about-card {
  background-color: white;
  box-shadow: 0 0 1rem var(--shadow-light);
  height: 13rem;
  border-top: 2px solid var(--primery-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

/* nav */
.nav-bred_crums {
  display: flex;
  gap: 0.4rem 1rem;
  flex-wrap: wrap;
}

.bred_crums {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 0.85rem;
}

.bred_crums:hover {
  color: gray;
  cursor: pointer;
}

/* img */
.project-imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.project-img {
  border-top: 0.4rem solid var(--primery-color);
  border-right: 0.4rem solid var(--primery-color);
  width: 16rem;
  height: 19rem;
}

img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.news-post_image > img {
  height: 100%;
  object-fit: cover;
}
/* mis */
.testmonial > div:first-child {
  padding: 1rem 1.2rem;
  background-color: var(--primery-color);
}

.testmonial > * :not(:last-child) {
  margin-bottom: 1rem;
}
.testmonial > :last-child {
  width: 12rem;
  height: 14rem;
}

#quot {
  font-size: 2rem;
}
.news-post_image {
  height: 15rem;
}
#section-news > .section-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.news-post {
  width: 85%;
  border: 1px solid black;
}
.news-post_body {
  padding: 1rem 1rem 0;
}
.news-post_body > * {
  margin-bottom: 1rem;
}
.news-post_heading {
  text-transform: capitalize;
  letter-spacing: -1px;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.news-post_caption {
  display: block;
  font-size: 0.8rem;
  font-weight: normal;
  text-transform: capitalize;
  white-space: nowrap;
  text-align: center;
}
.news-post_description {
  font-size: 0.9rem;
}
.news-post footer {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
}
.news-post_date {
  /* fix min max height widht responsiveness */
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--primery-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  color: white;
  font-weight: bold;
  position: absolute;
}
.news-post_date > :last-child {
  font-size: 0.8rem;
  font-weight: normal;
}
.footer-heading_secondary {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--primery-color);
  margin-bottom: 2rem;
  text-align: left;
}
.footer-header {
  margin-bottom: 4rem;
}
.footer-logo {
  text-align: left;
  margin-bottom: 1rem;
}
.footer-logo_caption {
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.6;
}
.footer-post_recent {
  height: 5rem;
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  gap: 0.8rem;
}
.footer-post_recent > img {
  height: 100%;
  flex-shrink: 2;
  object-fit: cover;
}
.footer-post_heading {
  word-break: break-all;
  font-size: 0.95rem;
  text-align: left;
}
#copyright {
  height: 7rem;
  background-color: var(--background-color--copyright);
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
}
#copyright a {
  color: white;
  text-decoration: none;
}

#copyright a:hover {
  color: var(--primery-color);
  text-decoration: none;
}
